@page
@model IoanaProjectWebApp.Pages.Clients.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Clienti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clienti.Nume" class="control-label"></label>
                <input asp-for="Clienti.Nume" class="form-control" />
                <span asp-validation-for="Clienti.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clienti.Prenume" class="control-label"></label>
                <input asp-for="Clienti.Prenume" class="form-control" />
                <span asp-validation-for="Clienti.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clienti.DataComanda" class="control-label"></label>
                <input asp-for="Clienti.DataComanda" class="form-control" />
                <span asp-validation-for="Clienti.DataComanda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clienti.Problema" class="control-label"></label>
                <input asp-for="Clienti.Problema" class="form-control" />
                <span asp-validation-for="Clienti.Problema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clienti.Email" class="control-label"></label>
                <input asp-for="Clienti.Email" class="form-control" />
                <span asp-validation-for="Clienti.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clienti.PhoneNumber" class="control-label"></label>
                <input asp-for="Clienti.PhoneNumber" class="form-control" />
                <span asp-validation-for="Clienti.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
