@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Aplicatie web de monitorizare comenzi si servicii</h1>
    <p>Popa Ioana Nicoleta, Informatica Eocnomica, ID, Semigrupa 4</p>
</div>
