@page
@model IoanaProjectWebApp.Pages.AngajatiFirma.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Angajati</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Angajati.Nume" class="control-label"></label>
                <input asp-for="Angajati.Nume" class="form-control" />
                <span asp-validation-for="Angajati.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajati.Prenume" class="control-label"></label>
                <input asp-for="Angajati.Prenume" class="form-control" />
                <span asp-validation-for="Angajati.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajati.DataAngajarii" class="control-label"></label>
                <input asp-for="Angajati.DataAngajarii" class="form-control" />
                <span asp-validation-for="Angajati.DataAngajarii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajati.Departament" class="control-label"></label>
                <input asp-for="Angajati.Departament" class="form-control" />
                <span asp-validation-for="Angajati.Departament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajati.Email" class="control-label"></label>
                <input asp-for="Angajati.Email" class="form-control" />
                <span asp-validation-for="Angajati.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Angajati.PhoneNumber" class="control-label"></label>
                <input asp-for="Angajati.PhoneNumber" class="form-control" />
                <span asp-validation-for="Angajati.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
